@import "./mo.scss";
.layer{
  width: 600px;
  height: 200px;
  background-image: url('../../assets/brand@2x.png');
  &>div{
    width: 400px;
    height: 100px;
    background-color: #ff6600;
    a{
      font-size: 12px;
    }

  }
  .flex{
    display: flex;
  }
}
